.navbar {
    position: sticky;
    display: flex;
    color: #252525;
    align-items: center;
    justify-content:space-around;
    padding-top: 60px;
    padding-bottom: 25px;    
    top: 0;
    z-index: 99;
    transition: all 1s;
}

.mnufijo{
    padding-top: 20px;
    background-color: rgb(37, 37, 37); 
}

.title {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: #252525;
}

.mnufijoTitle{
    color: #fff;
}

.menu {
    display: flex;
}

.menuBtn {
    display: none;
}

.menuItems {
    display: flex;
    gap: 47px;
    list-style: none;
}

.menuItems a{
    font-size: 25px;
    color: #252525;
    text-decoration: none;
    transition: all 1s;
}

.activeUp{
    font-size: 25px !important;
    color: #dc191b !important;
}

.activeDown{
    font-size: 20px !important;
    color: #dc191b !important;
}

.mnufijoA{
    font-size: 20px !important;
    color: #fff !important;
    
}

.mnufijoA:hover{
    color: #dc191b !important;
}

@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menuUp {
        top: 20px;
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuDown {
        top: 59px;
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
    } 

    .menuItems {
        display:none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: rgb(220, 25, 27);
        background: linear-gradient(0deg, rgba(85, 2, 3, 0.9) 50%, rgba(37, 37, 37, 1) 100%);
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    }
    .menuItems a{
        font-size: 25px;
        color: #fff;
    }
    .menuOpen {
        display:flex;   
        z-index: 1;     
    }
}